.modal-show {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

.modal-show-error {
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999999;
}

.modal-header {
    border-bottom: none !important;
}